@import './common';
@import './example';

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #ff3d00 #ff3d00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.unvisible {
  display: none;
}

.body {
  background-color: #f5b8ec;
}

.header {
  background-color: #3239cf;
  padding: 20px 0;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.shadow6
{
    position:relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
}
.shadow6:before, .shadow6:after
{
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    top: 10px;
    bottom: 0;
    left: 30px;
    right: 30px;
    border-radius:30%;
}









.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
